// Facebook metadata
// http://www.sitepoint.com/meta-tags-html-basics-best-practices/
// https://developers.facebook.com/docs/sharing/webmasters
// Facebook metadata
// https://developers.facebook.com/apps/203280530023571/app-details/
meta(property="og:url", content="https://www.juui.org")
meta(property="og:title", content="juui")
meta(property="og:description", content="Matemática divertida, mediante juegos y desafíos. Encuentra simulaciones en 3D, teoría y prácticas.")
meta(property="og:image", content="http://www.juui.org/favicon/preview-fb-558x558.png")
meta(property="og:image:url", content="http://www.juui.org/favicon/preview-fb-558x558.png")
meta(property="og:image:secure_url", content="https://www.juui.org/favicon/preview-fb-558x558.png")
meta(property="fb:app_id", content="203280530023571")
