div(layout='column', layout-padding="", layout-margin="")
  h4.md-headline Polígonos regulares

include sections/diagonal/diagonal.template.pug
include sections/totalDiagonals/totalDiagonals.template.pug
include sections/interiorExteriorAngles/interiorExteriorAngles.template.pug
include sections/classification/classification.template.pug
include sections/center-radius-apothem/centerRadiusApothem.template.pug

br()
br()
