.social-buttons {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-buttons-hide {
  height: 0px;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-button i {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}
.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.99;
  border-radius: 28%;
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
  background-color: #3b5998;
}
.social-button.facebook .fa {
  color: #3b5998;
}
.social-button.twitter:before {
  background-color: #3cf;
}
.social-button.twitter .fa {
  color: #3cf;
}
.social-button.google:before {
  background-color: #dc4a38;
}
.social-button.google .fa {
  color: #dc4a38;
}
.social-button.dribbble:before {
  background-color: #f26798;
}
.social-button.dribbble .fa {
  color: #f26798;
}
.social-button.skype:before {
  background-color: #00aff0;
}
.social-button.skype .fa {
  color: #00aff0;
}
.social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.social-button:focus {
  opacity: 0.85;
}
.md-button.md-fab.facebook {
  background-color: #3b5998;
  padding: 16px;
}
.md-icon-button.md-fab.facebook:hover {
  background-color: #3b5998 !important;
  opacity: 0.75;
  transform: rotate(360deg);
  transition: all 0.7s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.md-button.md-fab.twitter {
  background-color: #3cf;
  padding: 16px;
}
.md-icon-button.md-fab.twitter:hover {
  background-color: #3cf !important;
  opacity: 0.75;
  transform: rotate(360deg);
  transition: all 0.7s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.md-button.md-fab.google {
  background-color: #dc4a38;
  padding: 16px;
}
.md-icon-button.md-fab.google:hover {
  background-color: #dc4a38 !important;
  opacity: 0.75;
  transform: rotate(360deg);
  transition: all 0.7s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
@media (max-width: 600px) {
  md-dialog {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 240px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
}
.md-scroll-mask {
  z-index: 0 !important;
}
