md-sidenav.md-whiteframe-z2(md-component-id='left', hide-print='', tabindex='-1')
  md-content(flex='', role='navigation', layout="column")
    md-button.md-primary.md-raised(ui-sref-active="active", ui-sref="home")
      | Inicio