div(layout-gt-sm='row', layout='column')
  div(flex='')
  div(flex-gt-sm='50')
    div()
      md-card
        md-card-content
          //h2 Title 1
          p ¿Cuál es la longitud aproximada de uno de los lados de un octágono regular cuya área es de \( 331.4 { cm }^{ 2 } \) y su apotema de \( 10 cm \)?
        md-card-footer
          | Card footer

    div()
      md-card
        md-card-content
          h2 Title 2
          p Card content
        md-card-footer
          | Card footer


  div(flex='')
    div()