md-card.juui-main-menu.md-padding(layout="column")
  span.md-headline Funciones
  img(src="/asserts/images/svg/topics/xy-opt.svg")
  div(layout="row", layout-align="end center")
    md-button.md-primary.md-raised.md-hue-3(aria-label="Ir", ui-sref="functions.definition-1")
      | Teoría
    md-button.md-accent.md-raised.md-hue-4(aria-label="Ir", ui-sref="functions.game-quickTouch")
      | Jugar
md-card.juui-main-menu.md-padding(layout="column")
  span.md-headline Potencias
  img(src="/asserts/images/svg/topics/exponentiation-opt.svg")
  div(layout="row", layout-align="end center")
    md-button.md-icon-button(aria-label="Ir")
      md-icon(md-svg-icon="navigation:ic_more_vert_24px")
    md-button.md-icon-button(aria-label="Favorite")
      md-icon(md-svg-icon="action:ic_favorite_24px")
    md-button.md-accent.md-raised.md-hue-4(ng-disabled="true", aria-label="Ir")
      | Jugar
md-card.juui-main-menu.md-padding(layout="column")
  span.md-headline Ecuaciones
  img(src="/asserts/images/svg/topics/calc-opt.svg")
  div(layout="row", layout-align="end center")
    md-button.md-icon-button(aria-label="Ir")
      md-icon(md-svg-icon="navigation:ic_more_vert_24px")
    md-button.md-icon-button(aria-label="Favorite")
      md-icon(md-svg-icon="action:ic_favorite_24px")
    md-button.md-accent.md-raised.md-hue-4(ng-disabled="true", aria-label="Ir")
      | Jugar
md-card.juui-main-menu.md-padding(layout="column")
  span.md-headline Geometría
  img(src="/asserts/images/svg/topics/geometry-opt.svg")
  div(layout="row", layout-align="end center")
    md-button.md-icon-button(aria-label="Ir")
      md-icon(md-svg-icon="navigation:ic_more_vert_24px")
    md-button.md-icon-button(aria-label="Favorite")
      md-icon(md-svg-icon="action:ic_favorite_24px")
    md-button.md-accent.md-raised.md-hue-4(ng-disabled="true", aria-label="Ir")
      | Jugar

