html
  head
    base(href='/')
    meta(charset='utf-8')
    title FountainJS
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='icon', type='image/png', href='http://fountainjs.io/assets/imgs/fountain.png')
  body(ng-app='app', layout='row')
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
      md-toolbar
    .relative(layout='column', layout-fill='', role='main')
      md-toolbar()
        .md-toolbar-tools
      md-content(flex='', md-scroll-y='')
        ui-view(layout='column', layout-padding='')


//md-toolbar(layout="row")
//ui-view
