html(ng-app='app')
  include layout/head
  body(layout='column')
    include layout/facebook-script
    include layout/google-analytics
    include layout/juui-logo
    div()
      .main-logo(ng-show="false")
        svg(preserveaspectratio="xMinYMin meet", width="100%", height="100%")
          use(xlink:href="#juuiLogo")
      juui-dashboard()
      //juui-footer()